@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// font
$Poppins: "Poppins", sans-serif;
$font-size: 16px;

// colors
$dark: #1d1d1d;
$light: #fff;
$primary: #4284ff;
$bg: #f4f4ff;

// spacing
$spacing-md: 1rem;
$spacing-lg: 2rem;

// border radius
$borderRadius: .75rem;

// header height
$headerHeight: 6.25rem;

// transition
$transition-3: 0.3s ease all;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48rem) {
      @content;
    }
  }
}